.breadcrumb {
	margin-bottom: 18px;
}
.breadcrumb__list {
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	padding: 0;
	padding: 14px 20px;
	background: #e3e3e3;
	li {
		a {
			color: #4f4f4f;
			font-size: 1.1rem;
			display: inline-block;
		}

		&.active {
			a {
				color: map-get($color, brand);
			}
		}

		& + li {
			&:before {
				content: '/';
				position: relative;
				left: 0;
				top: 0;
				margin: 0 12px;
				color: #777777;
			}
		}
	}
}
