footer {
	position: relative;
	color: map-get($color, trang);
	background: #2e2e2e;
	padding: 30px 0;
	a {
		color: map-get($color, trang);
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 5px;
		background: map-get($color, hover);
	}
}
.logo-footer {
	display: inline-block;
	margin-bottom: 15px;
}

.social-footer {
	margin-top: 35px;
	.list-item {
		list-style-type: none;
		padding: 0;
	}
	.item {
		display: flex;
		flex-wrap: wrap;
		.icon {
			-ms-flex: 0 0 15px;
			flex: 0 0 15px;
			max-width: 15px;
		}
		.text {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			padding-left: 5px;
			.value {
				padding-left: 5px;
			}
		}
	}
	.item + .item {
		margin-top: 10px;
	}
}

.footer-navigation__title {
	font-size: 1.7rem;
}

.footer-navigation-wrapper {
	@media (max-width: 1024.98px) {
		margin-top: 25px;
	}
}

.footer-navigation {
	margin-top: 15px;
}

.footer-navigation__list {
	list-style-type: none;
	padding: 0;
}

.footer-navigation__item + .footer-navigation__item {
	margin-top: 5px;
}

.footer-social__list {
	display: flex;
}

.footer-social__item + .footer-social__item {
	padding-left: 20px;
}

.footer-social {
	margin-left: 25%;
	@media (max-width: 1024.98px) {
		margin-left: 0;
		margin-top: 25px;
	}
}
