.account__sign-in-up {
	width: 100%;

	h2 {
		margin-bottom: 20px;
	}

	.form-signinup {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 40px;
		background: map-get($color, trang);
		border-radius: 10px;
	}

	.form-group {
		display: flex;
		&:not(.form-button):not(.form-remember) {
			border-bottom: 2px solid map-get($color, brand);
		}
		+ .form-group {
			margin-top: 30px;
			@media (max-width: 1199.98px) {
				margin-top: 25px;
			}
			@media (max-width: 767.98px) {
				margin-top: 20px;
			}
		}
		.icon {
			-ms-flex: 0 0 45px;
			flex: 0 0 45px;
			max-width: 45px;
			background-color: map-get($color, brand);
			justify-content: center;
			align-items: center;
			display: flex;
		}
		input[type='text'],
		input[type='password'] {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			height: 45px;
			border: 0;
			appearance: none;
			padding: 7px 15px;
		}
	}

	.form-password {
		.view-password {
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.form-remember {
		display: flex;
		justify-content: space-between;
	}
	@media (max-width: 1199.98px) {
		.form-signinup {
			padding: 30px;
		}
	}
	@media (max-width: 767.98px) {
		.form-signinup {
			padding: 15px;
		}
	}
}

#signup-successful {
	max-width: 540px;
	text-align: center;
	.fancybox-close-small {
		display: none;
	}
	img {
		max-width: 250px;
		display: block;
		margin: 0 auto;
	}
	p {
		margin-top: 20px;
		font-size: 2.4rem;
		font-weight: 300;
	}
	.btn-signinup {
		margin-top: 20px;
		max-width: 280px;
		width: 100%;
		color: map-get($color, den);
	}
}
