.btn {
	cursor: pointer;
	position: relative;
	user-select: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 0;
	appearance: none;
	white-space: nowrap;
}

.btn-add-cart {
	color: map-get($color, trang);
	font-size: 1.1rem;
	background: map-get($color, price);
	height: 20px;
	padding: 0 20px;
	border-radius: 10px;
}

.btn-remove-cart {
	color: map-get($color, trang);
	font-size: 1.1rem;
	background: map-get($color, unactive);
	height: 20px;
	padding: 0 20px;
	border-radius: 10px;
}

.btn-submit {
	height: 45px;
	background-color: map-get($color, brand);
	color: map-get($color, trang);
	padding: 0 22px;
	border-radius: 8px;
}

.btn-signinup {
	width: 100%;
	background: map-get($color, brand);
	font-size: 1.4rem;
	height: 40px;
	color: map-get($color, trang);
}

.btn-submit-search {
	position: absolute;
	width: 65px;
	right: 0;
	top: 0;
	bottom: 0;
	background: map-get($color, hover);
}

.btn-add-favorite {
	cursor: pointer;
	position: relative;
	width: 35px;
	height: 35px;
	background: map-get($color, trang);
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
	&:after {
		content: '';
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 60%;
		height: 50%;
		position: absolute;
		background-image: url(../resources/icons/favorite.svg);
		background-size: 100% 100%;
	}
}

.btn.btn-news-detail {
	font-size: 1.3rem;
	color: map-get($color, trang);
	background: map-get($color, brand);
	border-radius: 5px;
	padding: 5px 15px;
}

.btn-submit-filter-products {
	font-size: 1.2rem;
	font-weight: 700;
	color: map-get($color, trang);
	background: map-get($color, brand);
	padding: 14px 44px;
	border-radius: 20px;
}

.btn-reset-filter-products {
	position: relative;
	color: map-get($color, brand);
	font-size: 1.2rem;
	padding-left: 30px;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 27px;
		height: 27px;
		background-image: url(/resources/icons/reset-filter.png);
		background-size: 100% 100%;
	}
}

.btn-reply {
	color: map-get($color, hover);
	font-size: 2rem;
	padding-left: 25px;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: 18px;
		height: 15px;
		transform: translateY(-50%);
		background-image: url(/resources/icons/reply.png);
		background-size: 100% 100%;
	}
}

.home-slider-banner-button-next {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background: map-get($color, trang);
	border-radius: 50%;
	box-shadow: 0 4px 4px rgba(#000000, 0.25);
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-image: url(../resources/icons/arrow-next-slider-home-banner.svg);
		background-size: 100% 100%;
		width: 50%;
		height: 50%;
	}
}

.home-slider-tab-product-button-prev,
.home-slider-tab-product-button-next {
	cursor: pointer;
}

.slider-showcase-clients-prev,
.slider-showcase-clients-next {
	position: relative;
	cursor: pointer;
	width: 50px;
	height: 46px;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 8px;
		height: 14px;
		transform: translate(-50%, -50%);

		background-size: 100% 100%;
	}
	@media (max-width: 767.98px) {
		width: 24px;
		height: 22px;
		&:after {
			width: 6px;
			height: 10px;
		}
	}
}

.slider-showcase-clients-prev {
	background: map-get($color, trang);
	&:after {
		background-image: url(../resources/icons/arrow-prev-slider-showcase-clients.png);
	}
}

.slider-showcase-clients-next {
	background: map-get($color, hover);
	&:after {
		background-image: url(../resources/icons/arrow-next-slider-showcase-clients.png);
	}
}

.slider-item-other-buttons {
	display: none;
	flex-wrap: wrap;
	margin-left: auto;
	.slider-item-other-next {
		margin-left: 5px;
	}
	@media (max-width: 767.98px) {
		display: flex;
	}
}

.slider-item-other-prev,
.slider-item-other-next {
	position: relative;
	width: 24px;
	height: 24px;
	background: #f4f4f4;
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		width: 50%;
		height: 50%;
		transform: translate(-50%, -50%);
		background-size: 100% 100%;
	}

	&:after {
		background-image: url(../resources/icons/arrow-next-slider-news-others.png);
	}
}

.slider-item-other-prev {
	&:after {
		background-image: url(../resources/icons/arrow-prev-slider-news-others.png);
	}
}
.slider-item-other-next {
	&:after {
		background-image: url(../resources/icons/arrow-next-slider-news-others.png);
	}
}

.btn-primary {
	background-color: map-get($color, brand);
	color: map-get($color, trang);
	border-radius: 5px;
	@media (min-width: 1025px) {
		transition: all 0.3s ease;
		&:hover {
			background-color: lighten(map-get($color, brand), 8%);
		}
	}
}

.btn-normal {
	height: 35px;
	border-radius: 17px;
	padding: 0 18px;
	.icon {
		width: 20px;
		margin-right: 10px;
	}
}
