.comment__item {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	.comment__avatar {
		-ms-flex: 0 0 50px;
		flex: 0 0 50px;
		max-width: 50px;
		height: 40px;
		border-radius: 50%;
		padding-right: 10px;
	}
	.comment__text {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}
	.comment__name {
		font-size: 2.4rem;
	}
	.comment__block {
		display: flex;
		align-items: center;
	}
	.btn-reply {
		margin-left: auto;
	}
	.comment__date {
		font-size: 1.2rem;
		color: map-get($color, unactive);
		margin-top: 5px;
	}
	.comment__content {
		margin-top: 14px;
		p {
			font-size: 1.2rem;
			+ p {
				margin-top: 5px;
			}
		}
	}
	+ .comment__item {
		margin-top: 60px;
	}
	&.reply {
		margin-left: 50px;
		background: #f7f6f6;
		padding: 14px 14px 28px 14px;
		margin-top: 22px;
		&:after {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 5%;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 18px solid #f7f6f6;
		}
	}
	.input-reply {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.keyword {
		margin-top: 5px;
		color: map-get($color, hover);
		font-size: 1.3rem;
	}
}
