.home-slider-banner {
	.img {
		height: 470px;
		@media (max-width: 1024.98px) {
			height: 300px;
		}
		@media (max-width: 575.98px) {
			height: 170px;
		}
	}
	.slider-buttons {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		.container {
			height: 100%;
			width: 100%;
		}
		.slider-button-wrapper {
			height: 100%;
			width: 100%;
			position: relative;
		}
		@media (max-width: 575.98px) {
			display: none;
		}
	}
}
