.news-item-wrapper {
	display: block;
	background: map-get($color, trang);
	box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.1);
	border-radius: 5px;
	overflow: hidden;
	.news__image {
		height: 295px;
		box-shadow: 0px 27px 28px -16px rgba(0, 0, 0, 0.52);
		@media (max-width: 1299.98px) {
			height: 250px;
		}
		@media (max-width: 1199.98px) {
			height: 220px;
		}
		@media (max-width: 575.98px) {
			height: 130px;
			-ms-flex: 0 0 100%;
			-webkit-box-flex: 0;
			flex: 0 0 130px;
			max-width: 130px;
			box-shadow: unset;
		}
	}
	.news__title {
		h3 {
			color: #333333;
			font-weight: 700;
			font-size: 2.2rem;
		}
	}
	.news__text {
		padding: 10px;
		margin-top: 18px;
		@media (max-width: 575.98px) {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			margin-top: 0;
		}
	}
	.news__description {
		margin-top: 5px;
		p {
			color: #666666;
			font-size: 1.6rem;
			@media (max-width: 575.98px) {
				-webkit-line-clamp: 2;
			}
		}
		@media (max-width: 575.98px) {
			margin-top: 0;
		}
	}
	.news__block {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 20px;
		justify-content: space-between;
		@media (max-width: 575.98px) {
			margin-top: 5px;
		}
	}
	.news__time {
		color: #999999;
		font-size: 1.8rem;
		@media (max-width: 575.98px) {
			font-size: 1.1rem;
			order: 2;
		}
	}
	@media (max-width: 575.98px) {
		display: flex;
		flex-wrap: wrap;
	}
}
