.date-time {
	display: inline-block;
	color: rgba( #000000, 0.54);
	font-size: 1.8rem;
}

#overlay {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 75;
	transition: 0.3s all ease-in-out;

	&.active {
		opacity: 1;
		visibility: visible;
		pointer-events: visible;
	}
}

#button-close-header-mobile {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	@media (max-width: 575.98px) {
		display: block;
	}
}
