.popup {
	display: none;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	padding: 5px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	.popup__background {
		background-color: rgba(map-get($color, den), 0.6);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
	}
	.popup__wrapper {
		z-index: 3;
		padding: 40px 10px;
		max-width: 950px;
		width: 100%;
		position: relative;
		background-color: map-get($color, trang);
		max-height: 100%;
	}
	.popup__close {
		position: absolute;
		right: 0;
		top: 0;
		color: map-get($color, den);
		padding: 5px;
		font-size: 2.5rem;
		cursor: pointer;
	}
	&.popup-show {
		display: flex;
		transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	&.popup-show-effect {
		opacity: 1;
		visibility: visible;
	}
}

.checkoutFinished__img {
	margin-bottom: 15px;
}
.checkoutFinished__content {
	max-width: 690px;
	width: 100%;
	margin: 0 auto;
	font-size: 1.5rem;
	h2 {
		font-size: 3rem;
		font-weight: 500;
		margin-bottom: 20px;
	}
	.buttons {
		margin-top: 45px;
		display: flex;
		justify-content: center;
		.btn {
			height: 45px;
			width: 100%;
			max-width: 280px;
			+ .btn {
				margin-left: 60px;
			}
		}
	}
	@media (max-width: 1024px) {
		.buttons {
			.btn {
				+ .btn {
					margin-left: 30px;
				}
			}
		}
	}
	@media (max-width: 575.98px) {
		.buttons {
			flex-direction: column;
			align-items: center;
			.btn {
				+ .btn {
					margin-left: 0;
					margin-top: 20px;
				}
			}
		}
	}
}
