.tab-container {
	.tab-toggle {
		.toggle__item {
			cursor: pointer;
			user-select: none;
			&.active {
				color: map-get($color, brand);
			}
		}
	}

	.tab-content {
		.content__item {
			display: none;
			opacity: 0;
			transition: all 0.3s cubic-bezier(0.2, 0.5, 0.5, 0.8);

			&.show {
				opacity: 1;
			}
		}
	}
}
