extends ../layouts/_layout

block var
	- let title = "Change Password"
block banner,breadcrumb
	include ../layouts/_breadcrumb
block main
	.cartAnnounce
		.container
			.cartAnnounce__wrapper.d-flex.align-center
				span.mdi.mdi-alert-circle-outline 
				p Miễn phí giao hàng cho đơn hàng tối thiểu 1 tỉ đồng
	section.Profile
		.container
			.row
				.col-left
					include ../components/profile/aside
				.col-right
					section.profile-table-wrapper
						form.profile__changepassword
							.profile__title.d-flex.align-center.flex-wrap
								h2 Đổi mật khẩu
							.form-group.style-2
								input.input-control(name="password" placeholder="Mật khẩu hiện tại" type="password")
							.form-group.style-2
								input.input-control(name="password" placeholder="Đặt mật khẩu" type="password")
							.form-group.style-2
								input.input-control(name="password" placeholder="Nhập lại mật khẩu")
							.form-group.form-button
								button.btn.btn-submit Đổi mật khẩu