section.about
	.container
		.about-wrapper
			h2.block-title.lcl.lcl-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolor laborum, reiciendis optio error nostrum asperiores quam tempore magnam natus corporis laudantium officiis tenetur deleniti, incidunt, itaque earum. Quos, unde!
			.date-time dd-mm-yyyy
			.content-detail-description
				h3 Bình giữ nhiệt Staley Go - Chính Hãng, bảo hành 12 tháng
				img.lazyload.blur-up(data-src="./resources/images/about/content-01.jpg", alt="content")
				p
					b Bình giữ nhiệt 
					| Ngày nay đã trở nên khá phổ biến và thông dụng với tất cả chúng ta, Sự phát triển công nghệ, kỹ thuật tiên tiến đã phát triển rất nhiều biến thể như ly giữ nhiệt, bình thủy giữ nhiệt, cốc giữ nhiệt
				p Chọn 
					b mua bình giữ nhiệt nóng lạnh
					| vừa tiện dụng vừa đáp ứng tất cả nhu cầu sử dụng, lại có khả năng giữ nhiệt tốt nhất năm 2020 này
				p Cừng Vaithuhay đi đến hành trình đánh giá chiếc 
					b bình giữ nhiệt Stanley Go
					| , vì sao dám gọi đây là bình giữ nhiệt tốt nhất 2020
				img.lazyload.blur-up(data-src="./resources/images/about/content-02.jpg", alt="content")
				p
					b Bình giữ nhiệt Stanley Go 
					| này đủ 3 yếu tố
				p Linh hoạt Sử dụng khi ở nhà, nơi làm việc, lúc chơi thể thao và sử dụng được cả khi với nhu cầu đi lại và di chuyển rất nhiều của bạn.
				p Tiện lợi: Bạn mang theo đến văn phòng, trường học, đi dã ngoại hay thậm chí đi du lịch xa. Thiết kế thân thẳng đứng, kiểu dáng bình thon gọn và màu sắc đen trắng bắt mắt.
				p Chất lượng: Bình chịu được chấn động khi sử dụng hoặc di chuyển, giữ nóng và giữ lạnh rất tuyệt vời.