.page-404 {
	height: 50vh;
	.box-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.logo {
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.content {
		text-align: center;
		margin-top: 24px;
		h1 {
			font-size: 2.4rem;
			font-weight: 700;
			text-transform: uppercase;
		}
		p {
			font-size: 1.8rem;
			margin-top: 14px;
		}
	}
	.button {
		text-align: center;
		margin-top: 44px;
	}
}
