.cartAnnounce__wrapper {
	padding: 10px 20px;
	background-color: #dcf1e9;
	border: 1px solid map-get($color, brand);
	border-radius: 5px;
	p {
		margin-left: 10px;
	}
}
.cartList {
	margin-top: 20px;
}
.cartList__wrapper {
	padding: 20px;
	background-color: white;
	border-radius: 5px;
	@media (max-width: 1199.98px) {
		padding: 15px;
	}
	@media (max-width: 767.98px) {
		padding: 10px;
	}
	.cartSummary {
		box-shadow: none;
		border-radius: 0;
		border-top: 1px solid darken(white, 12%);
		border-bottom: 1px solid darken(white, 12%);
	}
	.cartSummary__block {
		padding-left: 0;
		padding-right: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.cartSummary__block--total {
		border-top: 0;
	}
}
.cartList__title {
	margin-bottom: 40px;
	h2 {
		margin-right: 10px;
	}
	span {
		font-size: 1.2rem;
		color: rgba(black, 0.54);
	}
	@media (max-width: 1024.98px) {
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 5px;
		margin-bottom: 30px;
	}
}

.cartList__products {
	table {
		width: 100%;
		@media (max-width: 1024.98px) {
			display: block;
		}
	}

	thead {
		border-bottom: 1px solid #e5e5e5;
		th {
			padding-bottom: 10px;
			font-size: 1.3rem;
			color: #b4b4b4;
			font-weight: 400;
			&:not(:first-child) {
				text-align: center;
			}
		}
	}
	tbody {
		td {
			padding: 25px 0;
			&:not(:first-child) {
				text-align: center;
				padding: 25px 15px;
			}
		}
		tr {
			+ tr {
				border-top: 1px solid #e5e5e5;
			}
		}
		@media (max-width: 1024.98px) {
			display: block;
			width: 100%;
			tr {
				display: flex;
				width: 100%;
				flex-wrap: wrap;
				+ tr {
					margin-top: 5px;
					padding-top: 5px;
				}
			}
			td {
				display: block;
				&:nth-child(3),
				&:nth-child(4) {
					-ms-flex: 0 0 (100% / 2);
					flex: 0 0 (100% / 2);
					max-width: (100% / 2);
				}
				&:nth-child(1) {
					-ms-flex: 0 0 75%;
					flex: 0 0 75%;
					max-width: 75%;
					padding: 10px 5px 10px 0;
				}
				&:nth-child(2) {
					-ms-flex: 0 0 25%;
					flex: 0 0 25%;
					max-width: 25%;
					padding: 10px 0 10px 5px;
					text-align: right;
				}
				&:nth-child(3) {
					text-align: left;
					padding: 10px 5px 10px 0;
				}

				&:nth-child(4) {
					text-align: left;
					padding: 10px 0 10px 5px;
				}
			}
		}
	}
	.product__img {
		height: 100px;
		-ms-flex: 0 0 100px;
		flex: 0 0 100px;
		max-width: 100px;
	}
	.product__content {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		h4 {
			color: #2e2e2e;
			font-size: 1.7rem;
			margin-bottom: 10px;
			a {
				color: inherit;
			}
		}
		p {
			font-size: 1.2rem;
			color: rgba(#2e2e2e, 0.55);
		}
	}
	.product__remove {
		margin-top: 20px;
		font-size: 1.2rem;
		color: rgba(#2e2e2e, 0.55);
		cursor: pointer;
		display: inline-block;
	}
	.product__price--old {
		font-size: 1.3rem;
		color: #7b7b7b;
	}
	.product__price--new {
		color: #fe3834;
		font-size: 1.8rem;
	}
	.product__property {
		color: #6c6c6c;
		font-size: 1.6rem;
	}
}

.cartSummary__block {
	padding: 15px 15px;
	display: flex;
	justify-content: space-between;
	p {
		white-space: nowrap;
	}
}
.cartSummary__block--total {
	padding: 20px 15px;
	border-top: 1px solid #b4b4b4;
}
.cartSummary__total {
	span,
	sub {
		display: block;
	}
	sub {
		margin-top: 5px;
		font-size: 1rem;
		text-align: center;
	}
	span {
		color: #fe3834;
		font-size: 1.8rem;
	}
}

.cartSummary {
	overflow: hidden;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 4px rgba(black, 0.1);
}
.cartSummary__buttons {
	margin-top: 10px;
	.btn-primary {
		height: 40px;
		font-size: 1.3rem;
		width: 100%;
	}
}
.cartSummary__voucher,
.cartSummary__policies-rules {
	margin-top: 25px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 4px rgba(black, 0.1);
	p {
		padding: 10px 15px;
		border-bottom: 1px solid #eeeeee;
	}
	.btn-primary {
		border-radius: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
	.input-control {
		border-radius: 0;
		border: 1px solid #eeeeee;
	}
}
.cartSummary__voucherForm {
	padding: 15px;
}
.cartSummary__policiesRulesList {
	padding: 15px;
}
.cartSummary__policiesRulesItem {
	a {
		color: map-get($color, den);
		display: block;
		padding: 10px 0;
		border-radius: 5px;
		span {
			margin-left: 5px;
		}
		@media (min-width: 1025px) {
			transition: all 0.3s ease;
			&:hover {
				padding-left: 10px;
				background-color: map-get($color, brand);
				color: map-get($color, trang);
				svg {
					path {
						fill: map-get($color, trang);
					}
				}
			}
		}
	}
}
