.checkout__form {
	.form-group {
		margin-bottom: 30px;
	}
}
.checkout__detail {
	h3 {
		font-size: 2.4rem;
		margin-bottom: 15px;
		padding-bottom: 10px;
	}
}
.checkout__table {
	padding-top: 10px;
	table {
		width: 100%;
		tr {
			th,
			td {
				&:nth-child(1) {
					text-align: left;
				}
				&:nth-child(2) {
					text-align: center;
				}
				&:nth-child(3) {
					text-align: right;
				}
			}
			td {
				font-size: 1.5rem;
			}
			th {
				font-size: 1.6rem;
				color: #b4b4b4;
				font-weight: 400;
			}
		}
		thead {
			th {
				padding-bottom: 10px;
				padding-top: 10px;
				border-top: 1px solid #eeeeee;
				border-bottom: 1px solid #eeeeee;
			}
		}
		tbody {
			tr {
				&:not(:last-child) {
					border-bottom: 1px solid #eeeeee;
				}
			}
			td {
				padding: 10px 0;
			}
		}
	}
}
.checkout__voucher {
	background-color: map-get($color, trang);
	margin-top: 20px;
	.btn-primary {
		border-radius: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
	.input-control {
		border-radius: 0;
		border: 1px solid #eeeeee;
	}
}

.checkout__price {
	margin-top: 20px;
	table {
		width: 100%;
	}
	th {
		padding: 10px 0;
		font-size: 1.4rem;
		&:nth-child(1) {
			text-align: left;
		}
		&:nth-child(2) {
			text-align: right;
		}
		sub {
			font-weight: 400;
			display: block;
			color: rgba(black, 0.38);
			margin-top: 10px;
			font-size: 1.2rem;
		}
	}
}
.checkout__method {
	margin-top: 20px;
	.custom__input--radio {
		span {
			font-weight: 500;
		}
	}
}

.checkout__buttons {
	margin-top: 20px;
}

#popup-product-info {
	max-width: 640px;
	@media (max-width: 767.98px) {
		.fancybox-close-small {
			background-color: map-get($color, hover);
		}
		padding: 44px 15px;
	}
}
#popup-product-info h1 {
	font-size: 24px;
	letter-spacing: 0.3px;
	font-stretch: condensed;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 44px;
	line-height: 1;
}
#popup-product-info h2 {
	font-size: 18px;
	letter-spacing: 0.3px;
	position: relative;
	top: 0;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 0px;
	font-weight: bold;
	text-transform: uppercase;
}
#popup-product-info li {
	font-size: 13px;
	letter-spacing: 0.2px;
}
#popup-product-info li h3 {
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
}
#popup-product-info p {
	font-size: 13px;
	letter-spacing: 0.2px;
	margin-bottom: 20px;
}
#popup-product-info a {
	text-decoration: underline;
	color: #000000;
}
.checkout__saveAddress {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	margin-bottom: 20px;
	.mb-0,
	.my-0 {
		margin-bottom: 0 !important;
	}
	.shadow-none {
		box-shadow: none !important;
	}
	.border {
		border: 1px solid #e3eaef !important;
	}
	.card {
		box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3);
		margin-bottom: 30px;
		transition: box-shadow 0.2s ease-in-out;
	}
	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 2px solid rgba(#4680ff, 1);
		border-radius: 15px;
	}
	.card-header {
		padding: 1.25rem 1.25rem 0 1.25rem;
		margin-bottom: 0;
		background-color: rgba(0, 0, 0, 0);
	}
	.card-header {
		// border-bottom: 1px solid #e2e5e8;
		position: relative;
	}
	.card-header:first-child {
		border-radius: calc(0.25rem - 0px) calc(0.25rem - 0px) 0 0;
	}
	.card-body {
		padding: 20px 20px;
	}
	.card-body {
		flex: 1 1 auto;
		padding: 1.25rem;
		h6 {
			font-size: 1.5rem;
		}
		p {
			margin-top: 6px;
			font-size: 1.4rem;
			padding-left: 23px;
		}
		.col-md-6{
			margin-bottom: 20px;
		}
	}
	.card-buttons {
		display: flex;
		justify-content: flex-end;
		a {
			font-size: 1.5rem;
			text-decoration: underline;
			color: darken(white, 32%);
			+ a {
				margin-left: 30px;
			}
		}
		.card-edit {
		}
	}
	.text-secondary {
		color: #6c757d !important;
	}
	.font-weight-bold {
		font-weight: 700 !important;
	}
	.custom-control-label {
		position: relative;
		margin-bottom: 0;
		vertical-align: top;
		line-height: 18px;
		padding-left: 10px;
		cursor: pointer;
	}
	.custom-control {
		position: relative;
		display: block;
		min-height: 1.5rem;
		padding-left: 1.5rem;
	}
	.custom-radio
		.custom-control-input:checked
		~ .custom-control-label::before {
		-webkit-animation: custripple 0.3s linear forwards;
		animation: custripple 0.3s linear forwards;
	}
	.custom-control-input:checked ~ .custom-control-label::before {
		color: #fff;
		border-color: #4680ff;
		background-color: #4680ff;
	}
	.custom-radio .custom-control-label:after,
	.custom-radio .custom-control-label:before {
		top: 0;
		width: 18px;
		height: 18px;
	}
	.custom-radio .custom-control-label::before {
		border-radius: 50%;
	}
	.custom-control-label::before,
	.custom-file-label,
	.custom-select {
		transition: background-color 0.15s ease-in-out,
			border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
	.custom-control-label::before {
		position: absolute;
		top: 0.25rem;
		left: -1.5rem;
		display: block;
		width: 1rem;
		height: 1rem;
		pointer-events: none;
		content: '';
		background-color: #fff;
		border: #adb5bd solid 1px;
	}
	.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
		background-image: none;
		opacity: 1;
		transform: scale(0.4);
	}
	.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
		background-image: url("data:image/svg + xml,%3csvgxmlns='http://www.w3.org/2000/svg'viewBox='-4 -4 8 8'%3e%3ccircler='3'fill='%23fff'/%3e%3c/svg%3e");
	}
	.custom-radio .custom-control-label:after {
		transform: scale(0);
		opacity: 0;
		background: #fff;
		border-radius: 50%;
		transition: all 0.3s ease;
	}
	.custom-control-label::after {
		position: absolute;
		top: 0.25rem;
		left: -1.5rem;
		display: block;
		width: 1rem;
		height: 1rem;
		content: '';
		background: no-repeat 50% / 50% 50%;
	}
	.custom-control-input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
}
