.Contact {
	padding: 65px 0;
	background: #d6cfcf;
	.bg-section {
		background: map-get($color, trang);
		padding: 150px 0;
		@media (max-width: 1199.98px) {
			padding: 100px 0;
		}
		@media (max-width: 767.98px) {
			padding: 50px 0;
		}
	}
	.informations {
		margin-top: 20px;
	}
	.informations__item {
		display: flex;
		align-items: center;
		.icon {
			margin-right: 10px;
		}
		.text {
			color: #000000;
			font-size: 2.2rem;
		}
	}
	@media (max-width: 1024px) {
		padding: 30px 0;
	}
}
.contact__title {
	font-size: 3.4rem;
	font-weight: 700;
}
.contact__wrapper {
	max-width: 1070px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	.col-md-6 {
		&:nth-child(2) {
			@media (max-width: 767.98px) {
				margin-top: 30px;
			}
		}
	}
}
.contact__informations + .contact__informations {
	margin-top: 88px;
	@media (max-width: 767.98px) {
		margin-top: 30px;
	}
}

.informations__item + .informations__item {
	margin-top: 15px;
}
.contact__form {
	margin-top: 20px;
	textarea {
		height: 85px;
	}
	.form-group + .form-group {
		margin-top: 20px;
	}
	.form-button {
		.btn-submit {
			width: 100%;
		}
	}
}
.contact__map {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	iframe {
		width: 100%;
		height: 100%;
	}
}
