// TAB PRODUCTS
.tab-products-homepage {
	position: relative;
	z-index: 50;
	.block-left {
		position: relative;
	}
}

.tab-products-homepage-wrapper {
	position: relative;
	background: map-get($color, trang);
	padding: 52px 34px 34px 34px;
	border-radius: 30px 30px 0 0;
	margin-top: -60px;
	box-shadow: 0 4px 4px rgba(#000000, 0.25);
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: map-get($color, brand);
		top: 0;
		left: 0;
		z-index: -1;
		margin-top: -10px;
		border-radius: 30px 30px 0 0;
	}
	@media (max-width: 575.98px) {
		margin-top: -25px;
		padding: 24px 14px 14px 14px;
	}
}

.tab-filter-wrapper {
	.list-tab {
		list-style-type: none;
		padding: 0;
		@media (max-width: 767.98px) {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 24px;
		}
	}
	.item-tab {
		color: map-get($color, unactive);
		cursor: pointer;
		text-transform: uppercase;
		font-size: 2.7rem;
		&.active {
			text-decoration: underline;
			color: map-get($color, brand);
		}
		+ .item-tab {
			margin-top: 24px;
			@media (max-width: 767.98px) {
				margin-top: 0;
				margin-left: 10px;
			}
		}
		@media (max-width: 1024.98px) {
			font-size: 2rem;
		}
	}
}

.slider-tab-products-homepage-buttons {
	display: flex;
	flex-wrap: wrap;
	padding-left: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
	left: 15px;
	.swiper-slide {
		padding: 10px;
	}
	.home-slider-tab-product-button-next {
		margin-left: 24px;
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 2px;
		background: #dadada;
	}
	@media (max-width: 767.98px) {
		display: none;
	}
}

.deal-hot {
	padding-top: 80px;
	@media (max-width: 767.98px) {
		padding-top: 40px;
	}
	@media (max-width: 575.98px) {
		padding-top: 22px;
	}
}

.deal-hot-wrapper {
	padding: 100px 0;
	background: #edf0f5;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	@media (max-width: 575.98px) {
		padding: 22px 0;
	}
}

.deal-hot-block {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 80%;
	width: 100%;
	margin: 0 auto;
	padding: 60px 60px 60px 0px;
	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 80%;
		height: 100%;
		background: #ffffff;
		@media (max-width: 767.98px) {
			width: 100%;
		}
	}
	@media (max-width: 767.98px) {
		max-width: 100%;
		padding: 14px;
	}
}

.deal-hot__image {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	@media (max-width: 767.98px) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		.img {
			width: 30%;
			margin-bottom: 14px;
		}
	}
}

.deal-hot__infomation {
	-ms-flex: 0 0 70%;
	flex: 0 0 70%;
	max-width: 70%;
	padding-left: 60px;
	.infomation__price {
		display: flex;
		align-items: center;
		p {
			color: map-get($color, price);
			font-size: 1.8rem;
			&.original-deal {
				text-decoration: line-through;
				font-size: 1.3rem;
				color: map-get($color, unactive);
				margin-right: 50px;
				@media (max-width: 767.98px) {
					margin-right: 25px;
				}
			}
		}
	}
	.infomation__title {
		color: #232c38;
		font-size: 2.4rem;
		margin-top: 18px;
		font-weight: 700;
	}
	.infomation__desc {
		margin-top: 12px;
		p {
			color: #151d28;
			font-size: 1.6rem;
			font-weight: 400;
			+ p {
				margin-top: 5px;
			}
		}
	}
	@media (max-width: 767.98px) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
	}
}

.deal-hot__image,
.deal-hot__infomation {
	position: relative;
	z-index: 10;
}

.countdown-time {
	display: flex;
	margin-top: 50px;
	.block {
		-ms-flex: 0 0 70px;
		flex: 0 0 70px;
		max-width: 70px;
		height: 70px;
		border-radius: 10px;
		padding: 14px 0 10px;
		background: map-get($color, trang);
		box-shadow: 0 4px 4px rgba(#000000, 0.25);
		text-align: center;
		h4 {
			font-size: 2.2rem;
			@media (max-width: 767.98px) {
				font-size: 1.3rem;
			}
		}
		span {
			font-size: 1.2rem;
			@media (max-width: 767.98px) {
				font-size: 1rem;
			}
		}
		+ .block {
			margin-left: 12px;
		}

		@media (max-width: 767.98px) {
			-ms-flex: 0 0 50px;
			flex: 0 0 50px;
			max-width: 50px;
			height: 50px;
		}
	}
	@media (max-width: 1024.98px) {
		margin-top: 25px;
	}
}

.countdown-over {
	font-size: 2.4rem;
	margin-top: 50px;
	color: map-get($color, price);
}
