.news {
	.news__item {
		margin-bottom: 40px;
		@media (max-width: 1024.98px) {
			margin-bottom: 22px;
		}
	}
}

.news__other {
	.news__other-wrapper {
		background: map-get($color, trang);
		padding: 14px 0;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
		border-radius: 5px;
	}
	.block-title {
		position: relative;
		padding-bottom: 14px;
		h2 {
			font-size: 2.4rem;
			padding: 0 5px;
			@media (max-width: 575.98px) {
				font-size: 1.8rem;
			}
		}
		&:after,
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
		}
		&:after {
			content: '';
			background: rgba($color: #000000, $alpha: 0.3);
			width: 100%;
		}
		&:before {
			width: 74px;
			background: map-get($color, brand);
			z-index: 10;
		}
		@media (max-width: 767.98px) {
			display: flex;
			align-items: center;
			margin: 0 10px;
		}
	}
	@media (max-width: 767.98px) {
		margin-top: 22px;
	}
}

.newsOther-wrapper {
	background: map-get($color, trang);
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
	padding: 14px 0;
}

.slider-news-other {
	padding: 0 10px;
}

.newsOther__list {
	display: block;
	width: unset;
	margin-top: 22px;
	@media (max-width: 767.98px) {
		display: flex;
		width: 100%;
	}
}

.newsOther__item {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.newsOther__image {
		-ms-flex: 0 0 30%;
		flex: 0 0 30%;
		max-width: 30%;
		height: 90px;
		border-radius: 5px 0 0 5px;
		@media (max-width: 1439.98px) {
			-ms-flex: 0 0 40%;
			flex: 0 0 40%;
			max-width: 40%;
		}
		@media (max-width: 1024.98px) {
			position: relative;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			border-radius: 5px;
		}
		@media (max-width: 767.98px) {
			height: 140px;
		}
	}
	.newsOther__text {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		padding-left: 10px;
		@media (max-width: 1024.98px) {
			padding-left: 0;
			margin-top: 10px;
		}
	}
	.newsOther__title {
		color: #333333;
		font-size: 1.5rem;
	}
	.newsOther__description {
		margin-top: 10px;
		color: #666666;
		font-size: 1.1rem;
		@media (max-width: 1024.98px) {
			margin-top: 5px;
		}
	}
	+ .newsOther__item {
		margin-top: 10px;
		@media (max-width: 767.98px) {
			margin-top: 0;
		}
	}
}
