.banner-news-detail {
	.banner-wrapper {
		position: relative;
	}
	.banner__img {
		position: relative;
		height: 255px;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba($color: map-get($color, brand), $alpha: 0.78);
			pointer-events: none;
		}
		@media (max-width: 767.98px) {
			height: 200px;
		}
	}
	.banner__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		text-align: center;
		max-width: 70%;
		width: 100%;
		h3 {
			color: map-get($color, trang);
			font-size: 3.4rem;
			@media (max-width: 767.98px) {
				font-size: 2rem;
			}
		}
		.post-date {
			font-size: 1.6rem;
			color: map-get($color, trang);
			margin-top: 1rem;
		}
	}
}

.news-detail-wrapper {
	margin-top: 50px;
	padding: 50px;
	background: map-get($color, trang);
	@media (max-width: 767.98px) {
		padding: 25px;
		margin-top: 25px;
	}
}

.news-detail-socials {
	display: flex;
	flex-wrap: wrap;
	margin-top: 22px;
}

.item-news-detail-socials {
	-ms-flex: 0 0 42px;
	flex: 0 0 42px;
	max-width: 42px;
	display: block;
	height: 42px;
	background: var(--color);
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	+ .item-news-detail-socials {
		margin-left: 10px;
	}
}

.news-detail {
	.block-title {
		h2 {
			font-size: 3.4rem;
			color: #2e2e2e;
		}
		span {
			padding-left: 5px;
		}
		@media (max-width: 767.98px) {
			h2 {
				font-size: 2.4rem;
			}
		}
	}
	.comments-list {
		margin-top: 20px;
	}
}

.news-detail-comments {
	margin-top: 50px;
	padding-top: 80px;
	border-top: 1px solid #dddddd;
	@media (max-width: 1024.98px) {
		margin-top: 24px;
		padding-top: 40px;
	}
}

.news-detail-form-comments {
	padding-top: 68px;
	.note {
		color: #a6a6a6;
		font-size: 1.1rem;
	}
	.form-tutorial {
		list-style-type: none;
		padding: 0;
		margin-top: 10px;
		.note__item {
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			+ .note__item {
				margin-top: 10px;
			}
		}
		.rating-input {
			margin-left: 10px;
			@media (max-width: 575.98px) {
				margin-top: 10px;
			}
		}
	}
}
