.Profile {
	padding: 30px 0 288px;
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
	@media (max-width: 1024.98px) {
		padding: 30px 0;
	}
	.col-left {
		-ms-flex: 0 0 350px;
		flex: 0 0 350px;
		max-width: 350px;
		@media (max-width: 767.98px) {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.col-right {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		@media (max-width: 767.98px) {
			margin-top: 30px;
		}
	}
}

.ProfileAside {
	background: map-get($color, trang);
	box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
	border-radius: 10px;
	overflow: hidden;
}

.ProfileAside__header {
	padding: 42px 18px 28px;
	background: map-get($color, brand);
	@media (max-width: 767.98px) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 36px 36px 26px;
	}
}
.profile__avatar {
	width: 104px;
	height: 104px;
	border-radius: 50%;
	margin: 0 auto;
	@media (max-width: 767.98px) {
		-ms-flex: 0 0 104px;
		flex: 0 0 104px;
		max-width: 104px;
		margin: 0 20px 0 0;
	}
	@media (max-width: 575.98px) {
		-ms-flex: 0 0 69px;
		flex: 0 0 69px;
		max-width: 69px;
		height: 69px;
	}
}

.profile__name,
.profile__email {
	text-align: center;
	@media (max-width: 767.98px) {
		text-align: left;
	}
}

.profile__name {
	margin-top: 12px;
	h4 {
		color: map-get($color, trang);
		font-weight: 700;
		font-size: 1.4rem;
	}
	@media (max-width: 767.98px) {
		margin-top: 0;
		-ms-flex: 0 0 30%;
		flex: 0 0 30%;
		max-width: 30%;
	}
	@media (max-width: 575.98px) {
		flex: unset;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}
}

.profile__email {
	font-size: 1.2rem;
	color: map-get($color, trang);
}

.profile-user-information,
.profile-user-logout {
	display: flex;
	align-items: center;
	span {
		color: map-get($color, trang);
	}
	img {
		margin-right: 5px;
	}
}

.profile-user-logout {
	margin-left: 10px;
	@media (max-width: 767.98px) {
		margin-left: 22px;
	}
}

.profile__buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 54px;
	@media (max-width: 767.98px) {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		margin-top: 0;
		justify-content: center;
	}
	@media (max-width: 575.98px) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		justify-content: space-between;
		margin-top: 22px;
	}
}

.ProfileAside__navigation {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	@media (max-width: 767.98px) {
		margin-top: 25px;
		padding: 14px;
	}
	@media (max-width: 575.98px) {
		margin-top: 10px;
	}
}

.profileNavigation__item {
	color: #333a42;
	position: relative;
	display: flex;
	align-items: center;
	height: 38px;
	margin: 0 22px;
	padding: 0 10px;
	border-radius: 19px;
	width: 100%;
	.text {
		width: 100%;
		position: relative;
		margin-left: 20px;
		padding-right: 25px;
		@media (max-width: 575.98px) {
			display: none;
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			width: 25px;
			height: 25px;
			transform: translateY(-50%);
			background-size: 100% 100%;
			background-image: url(/resources/icons/right-arrow-black.png);
		}
		@media (max-width: 767.98px) {
			&:after {
				content: none;
			}
		}
	}
	.icon {
		width: 20px;
		height: 20px;
		position: relative;
		img {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: 0.3s all ease-in-out;
			&:last-child {
				opacity: 0;
			}
		}
		@media (max-width: 575.98px) {
			margin: 0 auto;
			max-width: 70px;
			width: 100%;
			height: 70px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
	+ .profileNavigation__item {
		margin-top: 16px;
		@media (max-width: 767.98px) {
			margin: 10px 0 0 0;
		}
		@media (max-width: 575.98px) {
			margin: 10px 0 0 0;
		}
	}
	&.active {
		background: map-get($color, brand);
		color: map-get($color, trang);
		.text {
			&:after {
				background-image: url(/resources/icons/right-arrow-white.png);
			}
		}
		.icon {
			svg {
				path,
				rect {
					fill: map-get($color, trang);
				}
			}
			img {
				&:first-child {
					opacity: 0;
				}
				&:last-child {
					opacity: 1;
				}
			}
		}
		@media (max-width: 575.98px) {
			background: unset;
			.icon {
				background: map-get($color, brand);
			}
		}
	}
	@media (min-width: 1025px) {
		transition: 0.3s all ease-in-out;
		&:hover {
			background: map-get($color, brand);
			color: map-get($color, trang);
			.text {
				&:after {
					background-image: url(/resources/icons/right-arrow-white.png);
				}
			}
			.icon {
				svg {
					path,
					rect {
						fill: map-get($color, trang);
					}
				}
				img {
					&:first-child {
						opacity: 0;
					}
					&:last-child {
						opacity: 1;
					}
				}
			}
		}
	}
	@media (max-width: 767.98px) {
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
		margin: 10px 0 0 0;
	}
	@media (max-width: 575.98px) {
		height: auto;
		.icon {
			border-radius: 10px;
		}
	}
}

.ProfileAside__hotline {
	margin-top: 146px;
	background: map-get($color, brand);
	text-align: center;
	.btn-hotline {
		display: flex;
		padding: 22px 0;
		.icon {
			margin-right: 22px;
		}
		.text {
			color: map-get($color, trang);
		}
		@media (max-width: 575.98px) {
			padding: 14px 0;
		}
	}
	@media (max-width: 767.98px) {
		margin-top: 25px;
	}
	@media (max-width: 575.98px) {
		margin-top: 15px;
	}
}

.profile__form,
.profile__changepassword {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;

	.form-button {
		text-align: right;
		@media (max-width: 767.98px) {
			margin-top: 40px;
			text-align: center;
		}
	}
}
.profile__title {
	h2 {
		font-size: 2.2rem;
		font-weight: 700;
	}
	span {
		display: inline-block;
		margin-left: 0.5rem;
		&.small-text {
			font-size: 1.1rem;
		}
	}
}
.profile__form {
	margin-bottom: 25px;
	.profile__title {
		margin-bottom: 35px;
		@media (max-width: 575.98px) {
			margin-bottom: 24px;
		}
	}
	.form-group {
		+ .form-group {
			margin-top: 50px;
			@media (max-width: 575.98px) {
				margin-top: 24px;
			}
		}
		&.form-button {
			@media (max-width: 575.98px) {
				margin-top: 40px;
			}
		}
	}
	.form-group--gender,
	.form-group--date-of-birth {
		.custom__input--radio {
			display: inline-flex;
			margin-left: 30px;
		}
	}
	.form-group--preview {
		width: 100px;
		height: 100px;
		background-color: darken(white, 8%);
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}
	.form-group--avatar {
		input[type='file'] {
			margin-top: 10px;
		}
	}
	.form-group--date-of-birth {
		> label {
			display: block;
			width: 100%;
		}
		.custom__input--radio {
			width: 30%;
			margin-left: 0;
			margin-right: 10px;
		}
	}

	@media (max-width: 575.98px) {
		margin-bottom: 56px;
	}
}

.profile__changepassword {
	.profile__title {
		h2 {
			font-weight: 400;
		}
		margin-bottom: 20px;
	}
	.form-group {
		+ .form-group {
			margin-top: 25px;
			@media (max-width: 575.98px) {
				margin-top: 12px;
			}
		}
		&.form-button {
			@media (max-width: 575.98px) {
				margin-top: 28px;
			}
		}
	}
}
#popup-add-address.fancybox-content {
	max-width: 720px;
	@media (max-width: 1199.98px) {
		padding-left: 25px;
		padding-right: 25px;
	}
	@media (max-width: 767.98px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.profile-table-wrapper {
	background: map-get($color, trang);
	padding: 22px;
	.profile__title {
		margin-bottom: 24px;
	}
	.checkout__saveAddress {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid darken(white, 8%);
		.col-lg-6 {
			margin-bottom: 20px;
		}
		.custom-control-label {
			padding-left: 0;
			cursor: initial;
			&:after,
			&:before {
				content: none;
			}
		}
		.card-body {
			p {
				padding-left: 0;
			}
		}
	}
	.cartList {
		.btn-signinup {
			max-width: 260px;
			border-radius: 5px;
		}
	}
	@media (max-width: 575.98px) {
		padding: 14px;
	}
}

.profile-table {
	width: 100%;
	thead {
		@media (max-width: 1024.98px) {
			display: none;
		}
	}
	th {
		color: #b4b4b4;
		font-weight: 400;
		font-size: 1.8rem;
		padding-bottom: 20px;
		border-bottom: 1px solid #e5e5e5;
		+ th {
			text-align: center;
		}
	}
	td {
		+ td {
			text-align: center;
		}
		@media (max-width: 1024.98px) {
			width: 100%;
		}
	}
	.item-table {
		+ .item-table {
			border-top: 1px solid #e5e5e5;
		}
		@media (max-width: 1024.98px) {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}
	}
}

.product-table {
	td {
		padding: 14px 10px;
		&:first-child {
			padding-left: 0;
			width: 50%;
			@media (max-width: 1199.98px) {
				width: 40%;
			}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				width: 100%;
			}
		}
		+ td {
			@media (max-width: 1024.98px) {
				display: none;
			}
			@media (max-width: 1024.98px) {
				text-align: right;
			}
		}
		@media (max-width: 1024.98px) {
			width: 100%;
		}
	}
	&.has-button {
		td {
			&:last-child {
				@media (max-width: 1024.98px) {
					display: table-cell;
				}
			}
		}
	}
	.item-product {
		display: flex;
		align-items: center;
		.img {
			margin-right: 22px;
		}
		h4 {
			font-size: 1.7rem;
		}
		p {
			color: rgba($color: #2e2e2e, $alpha: 0.5);
			font-size: 1.1rem;
			margin-top: 5px;
		}
	}
	.infomation {
		.properties,
		.price,
		.amount {
			display: none;
			@media (max-width: 1024.98px) {
				display: flex;
				align-items: center;
				p + p {
					margin-left: 10px;
				}
			}
		}
	}
	.properties {
		p {
			color: #6c6c6c;
			font-size: 1.6rem;
			+ p {
				margin-top: 5px;
			}
		}
	}
	.price {
		p {
			color: map-get($color, price);
			font-size: 1.8rem;
			&.original-deal {
				text-decoration: line-through;
				color: map-get($color, unactive);
				font-size: 1.3rem;
			}
		}
	}
	.amount {
		p {
			color: map-get($color, den);
			font-size: 1.8rem;
		}
		.title-table {
			display: none;
			font-size: 13px;
			color: #6c6c6c;
			@media (max-width: 1024.98px) {
				display: block;
			}
		}
	}
	.table-buttons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@media (max-width: 1199.98px) {
			flex-direction: column;
			width: 50%;
			margin: 0 auto;
		}
		@media (max-width: 1024.98px) {
			flex-direction: row;
			width: unset;
			justify-content: flex-end;
		}
	}
	.btn + .btn {
		margin-left: 10px;
		@media (max-width: 1199.98px) {
			margin-left: 0;
			margin-top: 10px;
		}
		@media (max-width: 1024.98px) {
			margin-left: 10px;
			margin-top: 0;
		}
	}
}

.order-history-table {
	td {
		padding: 34px 10px;
		&:nth-child(3) {
			width: 30%;
			@media (max-width: 1024.98px) {
				width: 100%;
			}
		}
		+ td {
			text-align: center;
		}
		@media (max-width: 1024.98px) {
			display: flex;
			align-items: center;
			padding: 5px 10px;
		}
	}
	.item-table {
		padding: 14px 0;
		p {
			font-size: 1.1rem;
			&.title-table {
				display: none;
				color: map-get($color, unactive);
				padding-right: 10px;
				text-align: left;
			}
			@media (max-width: 1024.98px) {
				font-size: 13px;
				-ms-flex: 0 0 100%;
				-webkit-box-flex: 0;
				flex: 0 0 50%;
				max-width: 50%;
				text-align: right;
				&.title-table {
					display: block;
				}
			}
		}
	}
	.order__id {
		display: block;
		width: 100%;
		color: map-get($color, hover);
		font-size: 1.1rem;
		font-weight: 700;
		@media (max-width: 1024.98px) {
			font-size: 13px;
			text-align: right;
		}
	}
	.order__date {
		color: map-get($color, unactive);
		@media (max-width: 1024.98px) {
		}
	}
	.order__name {
		color: #2e2e2e;
	}
	.order__status {
		color: map-get($color, unactive);
	}
}

.orderSummary {
	max-width: 300px;
	width: 100%;
	margin-left: auto;
	margin-top: 50px;
	@media (max-width: 767.98px) {
		margin-left: 0;
		margin-top: 20px;
	}
}
.order__buttons {
	text-align: right;
	margin-top: 25px;
	.btn-primary {
		height: 45px;
		padding: 0 40px;
		background-color: #da2020c2;
	}
}

.orderSummary__block {
	display: flex;
	justify-content: space-between;
	p {
		color: map-get($color, den);
		font-size: 13px;
		&.orderSummary__total {
			text-align: center;
			span {
				display: block;
				color: map-get($color, price);
				font-size: 1.8rem;
			}
			sup {
				color: rgba($color: #000000, $alpha: 0.5);
				font-size: 8px;
			}
		}
	}
	+ .orderSummary__block {
		margin-top: 14px;
	}
}
