.ProductDetailWrapper {
	display: flex;
	flex-wrap: wrap;
	background: map-get($color, trang);
	padding: 18px 20px 36px;
	@media (max-width: 1024.98px) {
		padding: 14px;
	}
}
.SliderImagesProduct {
	-ms-flex: 0 0 540px;
	flex: 0 0 540px;
	max-width: 540px;
	@media (max-width: 1024.98px) {
		-ms-flex: 0 0 40%;
		flex: 0 0 40%;
		max-width: 40%;
	}
	@media (max-width: 767.98px) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.SliderImagesProductWrapper {
	display: flex;
	flex-wrap: wrap;
	.swiper-container {
		height: 100%;
	}
	.swiper-slide {
		img {
			&:not(.show) {
				display: none;
			}
		}
	}
	@media (max-width: 767.98px) {
		max-width: 420px;
		width: 100%;
	}
}
.slider-thumbs-product-detail {
	-ms-flex: 0 0 80px;
	flex: 0 0 80px;
	height: 440px;
	.swiper-slide {
		cursor: pointer;
		position: relative;
		opacity: 0.7;
		transition: 0.3s all ease-in-out;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border: 2px solid #f62f5e;
			z-index: 100;
			opacity: 0;
		}
		&.swiper-slide-thumb-active {
			opacity: 1;
			transition: 0.3s all ease-in-out;
			&:after {
				opacity: 1;
			}
		}
	}
	@media (max-width: 1024.98px) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		order: 2;
		height: 80px;
	}
	@media (max-width: 375.98px) {
		height: 66px;
	}
}
.slider-product-detail {
	-ms-flex: 0 0 420px;
	flex: 0 0 460px;
	max-width: 460px;
	padding-left: 20px;
	height: 440px;
	.swiper-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border: 1px solid black;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		cursor: pointer;
		z-index: 20;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
	}
	.swiper-prev {
		left: 10px;
	}
	.swiper-next {
		right: 10px;
	}
	@media (max-width: 1024.98px) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
		margin-bottom: 10px;
		height: 380px;
	}
	@media (max-width: 575.98px) {
		height: 300px;
	}
}

.ProductContent {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	padding: 0 44px;
	.product__name {
		font-weight: 400;
		font-size: 1.5rem;
		color: #2e2e2e;
		@media (max-width: 1024.98px) {
			margin-top: 10px;
		}
	}
	.product__desc {
		margin-top: 14px;
		p {
			font-size: 1.3rem;
			color: #2e2e2e;
			+ p {
				margin-top: 3px;
			}
		}
	}
	.rate-review {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 26px;
		@media (max-width: 1024.98px) {
			margin-top: 14px;
		}
	}
	.count-review {
		font-size: 1.3rem;
		color: map-get($color, hover);
		margin-left: 14px;
		span {
			margin: 0 5px;
		}
	}
	.count-sold {
		font-size: 1.3rem;
		color: map-get($color, unactive);
		padding-left: 14px;
		span {
			color: map-get($color, den);
			margin-right: 4px;
		}
	}
	.product__status {
		display: flex;
		flex-wrap: wrap;
		margin-top: 12px;
		padding-bottom: 20px;
		.title-item-content {
			color: map-get($color, den);
			padding-right: 12px;
			margin-bottom: 0;
		}
		p {
			font-size: 1.5rem;
			font-weight: 700;
			&[status='out-of-stock'] {
				color: #eb5757;
			}
			&[status='pre-order'] {
				color: #2f80ed;
			}
			&[status='stocking'] {
				color: #219653;
			}
			+ p {
				margin-left: 12px;
			}
		}
		&--top {
			padding-bottom: 16px;
			margin-top: 0;
			p {
				font-size: 1rem;
				border-radius: 5px;
				height: 20px;
				padding: 0 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: map-get($color, trang);
				&.new {
					background-color: #eb5757;
				}
				&.sale {
					background-color: #2f80ed;
				}
				&.best-seller {
					background-color: #219653;
				}
			}
		}
		&--bottom {
			border-bottom: 1px solid #bdbdbd;
		}

		@media (max-width: 1024.98px) {
			margin-top: 18px;
			padding-bottom: 18px;
		}
	}
	.title-item-content {
		display: inline-flex;
		align-items: center;
		color: #b4b4b4;
		font-size: 1.5rem;
		margin-bottom: 10px;
		span,
		a {
			color: #333333;
			margin-left: 10px;
		}
	}
	.product__color {
		margin-top: 12px;
	}
	.product__price {
		display: flex;
		align-items: center;
		margin-top: 12px;
		p {
			font-size: 1.5rem;
			font-weight: 700;
			color: map-get($color, price);
			&.original-deal {
				text-decoration: line-through;
				color: map-get($color, unactive);
				margin-right: 20px;
			}
		}
		@media (max-width: 1024.98px) {
			margin-top: 18px;
		}
	}
	.product__buttons {
		margin-top: 14px;
		.list-button {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
		}
		.item-button + .item-button {
			padding-left: 18px;
		}
		.product__quantity {
			@media (max-width: 1024.98px) {
				justify-content: flex-start;
			}
		}
		@media (max-width: 1699.98px) {
			.item-button {
				&:first-child {
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
					margin-bottom: 14px;
				}
			}
			.item-button {
				&:nth-child(2) {
					padding-left: 0;
				}
			}
		}
		@media (max-width: 1439.98px) {
			.item-button {
				&:first-child {
					-ms-flex: unset;
					flex: unset;
					max-width: unset;
					margin-bottom: 0;
				}
			}
			.item-button {
				&:nth-child(2) {
					padding-left: 18px;
				}
			}
		}
		@media (max-width: 1199.98px) {
			.item-button {
				&:first-child {
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
					margin-bottom: 14px;
				}
			}
			.item-button {
				&:nth-child(2) {
					padding-left: 0;
				}
			}
		}
		@media (max-width: 1024.98px) {
			margin-top: 18px;
		}
	}
	@media (max-width: 1439.98px) {
		padding: 0 0 0 44px;
	}
	@media (max-width: 1024.98px) {
		padding: 0 0 0 22px;
	}
	@media (max-width: 767.98px) {
		padding: 0;
		max-width: 420px;
		width: 100%;
		margin-top: 24px;
	}
}

.product__size {
	max-width: 422px;
	width: 100%;
	margin-top: 14px;
	.item-size {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 72px;
		max-width: 72px;
	}
	@media (max-width: 1024.98px) {
		margin-top: 18px;
	}
}
// .product-info-group {
// 	.product__status {
// 		float: left;
// 		padding-right: 10px;
// 		margin-top: 0;
// 		padding-bottom: 0;
// 	}
// 	@media (max-width: 1024.98px) {
// 		.product__status {
// 			float: unset;
// 		}
// 	}
// }

.MoreInfomation {
	-ms-flex: 0 0 100%;
	-webkit-box-flex: 0;
	flex: 0 0 280px;
	max-width: 280px;
	.list-item {
		padding: 24px 12px;
		list-style-type: none;
		border: 1px solid #eeeeee;
	}
	.item {
		display: flex;
		.icon {
			margin-right: 10px;
			-ms-flex: 0 0 20px;
			flex: 0 0 20px;
			max-width: 20px;
		}
		p {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			span {
				color: map-get($color, price);
				margin-left: 10px;
			}
		}
	}
	.item + .item {
		margin-top: 10px;
	}
	@media (max-width: 1439.98px) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: 24px;
	}
}

.ProductDetailTab {
	margin-top: 15px;
	padding-top: 30px;
	background: map-get($color, trang);
	.tab-toggle {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		justify-content: center;
		border-bottom: 1px solid #eeeeee;
		padding: 0;
	}
	.toggle__item {
		text-transform: uppercase;
		font-size: 2.4rem;
		color: #666666;
		padding-bottom: 24px;
		+ .toggle__item {
			margin-left: 47px;
		}
		&.active {
			border-bottom: 1px solid map-get($color, brand);
		}
		sup {
			color: map-get($color, price);
			margin-left: 5px;
		}
		@media (max-width: 767.98px) {
			font-size: 1.8rem;
			padding-bottom: 18px;
		}
	}
	.tab-content {
		padding: 50px 100px;
		@media (max-width: 1024.98px) {
			padding: 50px;
		}
		@media (max-width: 767.98px) {
			padding: 25px;
		}
	}
	.comments__form {
		margin-bottom: 70px;
	}
	.title-tab-review {
		color: #2e2e2e;
		font-size: 3.4rem;
		margin-bottom: 28px;
	}
	.rating-input {
		@media (max-width: 1024.98px) {
			&--size-30px {
				.star {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
	.list-step {
		list-style-type: none;
		padding: 0;
		margin-bottom: 22px;
		.step__item {
			display: flex;
			align-items: center;
			.rate-review {
				padding-left: 8px;
			}
			+ .step__item {
				margin-top: 10px;
			}
			@media (max-width: 767.98px) {
				display: block;
				.rate-review {
					padding-left: 0;
					margin-top: 12px;
				}
			}
		}
	}
	.review__list {
		margin-top: 26px;
	}
	.input-reply {
		display: none;
		margin-top: 20px;
		.form-group {
			.textarea-control {
				font-size: 1.1rem;
				height: 56px;
				padding: 10px;
			}
			&.form-button {
				text-align: right;
				margin-top: 16px;
			}
		}
		.btn-submit {
			height: 40px;
		}
		&.show {
			display: block;
		}
	}
}

.fancybox-content#choose-size-guide {
	max-width: 520px;
	@media (max-width: 1199.98px) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@media (max-width: 767.98px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
