@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

@import 'base/animations';
@import 'base/fonts';
@import 'base/global';

@import 'components/buttons';
@import 'components/forms';
@import 'components/tab';
@import 'components/product';
@import 'components/news-item';
@import 'components/review-item';
@import 'components/comment-item';
@import 'components/hamburger';
@import 'components/products-global';
@import 'components/home-banner';
@import 'components/other-banner';
@import 'components/partners';
@import 'components/showcase-clients';
@import 'components/other';

@import 'layout/header';
@import 'layout/flying-cart';
@import 'layout/footer';
@import 'layout/breadcrumb';
@import 'layout/pagination';
@import 'layout/sign-in-up';

@import 'pages/index';
@import 'pages/about';
@import 'pages/news';
@import 'pages/news-detail';
@import 'pages/category';
@import 'pages/contact';
@import 'pages/cart';
@import 'pages/checkout';
@import 'pages/profile';
@import 'pages/404';
@import 'pages/product-detail';

@import 'base/utilities';
