footer
	.container
		.row
			.col-lg-4
				a(href="#").logo-footer
					img(src="./resources/images/logo-footer.png", alt="JACKMI-LOGO")
				.description-footer
					p Mô tả ngắn nhằmn giới thiệu về thông tin doanh nghiệp
				.social-footer
					ul.list-item
						li.item
							.icon
								img(src="./resources/icons/footer-location.png", alt="LOCATION")
							.text
								p Địa chỉ:
									span.value 68 Trần Quang Khải, P. Tân Định, Q1, TPHCM
						li.item
							.icon
								img(src="./resources/icons/footer-phone.png", alt="PHONE")
							.text
								p Hotline:
									span.value 0966869373 - 1900 9373
						li.item
							.icon
								img(src="./resources/icons/footer-mail.png", alt="MAIL")
							.text
								p Email:
									span.value care@flatcloud.vn
						li.item
							.icon
								img(src="./resources/icons/footer-zalo.png", alt="ZALO")
							.text
								p Chat qua Zalo [bấm vào chạy link:
									span.value https://zalo.me/0966869373]
			.col-lg-2.col-md-4
				.footer-navigation-wrapper
					.footer-navigation__title HỖ TRỢ KHÁCH HÀNG
					.footer-navigation
						ul.footer-navigation__list
							li.footer-navigation__item
								a.footer-navigation__link(href="#") Hướng dẫn mua hàng
							li.footer-navigation__item
								a.footer-navigation__link(href="#") Giao và thanh toán
							li.footer-navigation__item
								a.footer-navigation__link(href="#") Đổi trả và bảo hành
							li.footer-navigation__item
								a.footer-navigation__link(href="#") Đăng ký thành viên
			.col-lg-2.col-md-4
				.footer-navigation-wrapper
					.footer-navigation__title HỖ TRỢ KHÁCH HÀNG
					.footer-navigation
						ul.footer-navigation__list
							li.footer-navigation__item
								a.footer-navigation__link(href="#") Hướng dẫn mua hàng
							li.footer-navigation__item
								a.footer-navigation__link(href="#") Giao và thanh toán
							li.footer-navigation__item
								a.footer-navigation__link(href="#") Đổi trả và bảo hành
							li.footer-navigation__item
								a.footer-navigation__link(href="#") Đăng ký thành viên
			.col-lg-4.col-md-4
				.footer-social
					.footer-social__list
						.footer-social__item
							a.footer-social__link(href="#")
								img(src="./resources/icons/footer-instagram.png", alt="instagram")
						.footer-social__item
							a.footer-social__link(href="#")
								img(src="./resources/icons/footer-pinterest.png", alt="pinterest")
						.footer-social__item
							a.footer-social__link(href="#")
								img(src="./resources/icons/footer-twitter.png", alt="twitter")
						.footer-social__item
							a.footer-social__link(href="#")
								img(src="./resources/icons/footer-facebook.png", alt="facebook")