section.home-slider-banner
	.swiper-container
		.swiper-wrapper
			-for(i=0;i<3;i++)
				.swiper-slide
					.img.overflow-hidden
						img.object-cover.fullsize(src="./resources/images/banner/home-banner-01.jpg", alt="home-banner")
		.slider-buttons
			.container
				.slider-button-wrapper
					.home-slider-banner-button-next