section.partners
	.container
		.slider-partners
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<8;i++)
						.swiper-slide
							.img
								img(src=`./resources/images/partners/01.png`, alt="partners")