.profile__navWrapper
	.profile__information
		.profile__avatar.overflow-hidden
			img.profile__img.object-cover.fullsize(src="./resources/images/account.png")
		h2 Flatcloud Company
		p emailtest@gmail.com
	.profile__category
		.category__item
			a.category__link(href="#") 
				span.fas.fa-columns
				| Tổng quan
		.category__item
			a.category__link(href="#") 
				span.fas.fa-archive
				| Quản lý đơn hàng
		.category__item
			a.category__link(href="#") 
				span.far.fa-heart
				| Sản phẩm yêu thích
		.category__item
			a.category__link(href="#") 
				span.fas.fa-star-half-alt
				| Đánh giá của tôi
		.category__item
			a.category__link(href="#") 
				span.fas.fa-question-circle
				| Quản lỷ hỏi đáp
		.category__item
			a.category__link(href="#") 
				span.fas.fa-cog
				| Cài đặt
	.profile__support
		a.btn.btn-primary
			span Hỗ trợ