section.banner-news-detail
	.container
		.banner-wrapper
			.banner__img.overflow-hidden
				img.lazyload.blur-up.object-cover.fullsize(src="./resources/images/news/banner-news-detail.png", alt="news-detail")
			.banner__content
				h3.lcl.lcl-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tenetur ipsum commodi magni? Harum amet sapiente, a animi ea ab quasi inventore explicabo assumenda, atque necessitatibus voluptate id, impedit dolorem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tenetur ipsum commodi magni? Harum amet sapiente, a animi ea ab quasi inventore explicabo assumenda, atque necessitatibus voluptate id, impedit dolorem?
				.post-date dd-mm-yyyy