/* MaterialDesignIcons.com */
@font-face {
	font-family: 'Material Design Icons';
	src: url('../resources/fonts/materialdesignicons-webfont.eot?v=5.5.55');
	src: url('../resources/fonts/materialdesignicons-webfont.eot?#iefix&v=5.5.55')
			format('embedded-opentype'),
		url('../resources/fonts/materialdesignicons-webfont.woff2?v=5.5.55')
			format('woff2'),
		url('../resources/fonts/materialdesignicons-webfont.woff?v=5.5.55')
			format('woff'),
		url('../resources/fonts/materialdesignicons-webfont.ttf?v=5.5.55')
			format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* Font icons Linearicons Free*/
@font-face {
	font-family: 'Linearicons-Free';
	src: url('../resources/fonts/Linearicons-Free.eot?w118d');
	src: url('../resources/fonts/Linearicons-Free.eot?#iefixw118d')
			format('embedded-opentype'),
		url('../resources/fonts/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../resources/fonts/Linearicons-Free.woff?w118d') format('woff'),
		url('../resources/fonts/Linearicons-Free.ttf?w118d') format('truetype'),
		url('../resources/fonts/Linearicons-Free.svg?w118d#Linearicons-Free')
			format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Font Awesome 5 Pro';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url(../resources/fonts/fa-light-300.woff2);
	src: url(../resources/fonts/fa-light-300.woff2) format('woff2'),
		url(../resources/fonts/fa-light-300.woff) format('woff');
}

@font-face {
	font-family: 'Font Awesome 5 Pro';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url(../resources/fonts/fa-regular-400.woff2);
	src: url(../resources/fonts/fa-regular-400.woff2) format('woff2'),
		url(../resources/fonts/fa-regular-400.woff) format('woff');
}

@font-face {
	font-family: 'Font Awesome 5 Pro';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url(../resources/fonts/fa-solid-900.woff2);
	src: url(../resources/fonts/fa-solid-900.woff2) format('woff2'),
		url(../resources/fonts/fa-solid-900.woff) format('woff');
}

.fal {
	font-weight: 300;
}

.far {
	font-weight: 400;
}

.fa,
.fas {
	font-weight: 900;
}

/*!
 * Font Awesome Pro 5.11.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
	font-family: 'Font Awesome 5 Pro';
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

.mdi:before,
.mdi-set {
	display: inline-block;
	font: normal normal normal 24px/1 'Material Design Icons';
	font-size: inherit;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mdi-cart:before {
	content: '\F0110';
}
.mdi-cart-outline:before {
	content: '\F0111';
}
.mdi-alert-circle-outline:before {
	content: '\F05D6';
}

.lnr {
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lnr-chevron-up:before {
	content: '\e873';
}
.lnr-chevron-down:before {
	content: '\e874';
}
.lnr-chevron-left:before {
	content: '\e875';
}
.lnr-chevron-right:before {
	content: '\e876';
}
.lnr-cart:before {
	content: '\e82e';
}
.lnr-arrow-left:before {
	content: '\e879';
}
.lnr-list:before {
	content: '\e872';
}
.lnr-funnel:before {
	content: '\e88f';
}
.lnr-cross:before {
	content: '\e870';
}
.lnr-magnifier:before {
	content: '\e86f';
}

.fa-archive:before {
	content: '\f187';
}
.fa-columns:before {
	content: '\f0db';
}
.fa-heart:before {
	content: '\f004';
}
.fa-star-half-alt:before {
	content: '\f5c0';
}
.fa-question-circle:before {
	content: '\f059';
}
.fa-shopping-cart:before {
	content: '\f07a';
}
.fa-cog:before {
	content: '\f013';
}
